@media screen and (max-width:900px){
    #desktop-nav{
        display: none ;
    }
     #hamburger-nav{
        display: flex ;
     }
     #experince,.experience-details-container {
        margin-top: 2rem;}
}